<config
  xmlns="http://mycompany.com/jax-rs-auth-seed/config.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://mycompany.com/jax-rs-auth-seed/config.xsd config.xsd">
  <properties>
    <property name="clientScheme" value="http"/>
    <property name="clientHost" value="localhost:3000"/>

    <property name="serverScheme" value="http"/>
    <property name="serverHost" value="localhost:8180"/>

    <property name="companyName" value="Basis"/>
    <property name="tosUrl" value="{{clientScheme}}://{{clientHost}}/#/terms"/>
    <property name="privacyUrl" value="{{clientScheme}}://{{clientHost}}/#/privacy"/>
  </properties>
  <debug externalResourcesAccess="true" onServiceExceptionEmail="" displayJsonSpecOnServiceError="false"/>
  <server xsi:type="http" port="8180"/>
  <mail>
    <server host="smtp.gmail.com" port="465" protocol="smtps">
      <credentials username="noreply@mycompany.com" password="8qRZWHAL"/>
    </server>
  </mail>
  <dbcps>
    <dbcp xmlns="http://lib4j.org/dbcp-2.0.4.xsd" name="mycompany">
      <jdbc>
        <url>jdbc:postgresql://localhost/mycompany</url>
        <driverClassName>org.postgresql.Driver</driverClassName>
        <username>mycompany</username>
        <password>mycompany</password>
      </jdbc>
      <default>
        <autoCommit>true</autoCommit>
        <readOnly>false</readOnly>
        <transactionIsolation>READ_UNCOMMITTED</transactionIsolation>
      </default>
      <size>
        <initialSize>0</initialSize>
        <maxTotal>16</maxTotal>
        <maxIdle>16</maxIdle>
        <minIdle>0</minIdle>
      </size>
      <pool>
        <maxWait>1000</maxWait>
      </pool>
      <logging>
        <level>INFO</level>
        <logExpiredConnections>true</logExpiredConnections>
        <logAbandoned>true</logAbandoned>
      </logging>
    </dbcp>
  </dbcps>
</config>